.btn {
  display: inline-flex;
  margin: 10px 0;
  padding: 16px 27px;
  font-family: $ff-CormorantInfantBold;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $color-default-white;
  background-color: $color-gumbo;
  border: none;
  cursor: pointer;
  border: 2px solid $color-gumbo;
  border-radius: 61px;

  &__big {
    padding: 25px 115px;
    font-family: $ff-RalewayBold;
    font-weight: 700;
    line-height: 16px;
    box-shadow: 4px 4px 20px #c2ccca, -8px -8px 20px #ffffff;
    border-radius: 40px;
  }

  &__white {
    background: #ffffff;
    border: 2px solid $color-gumbo;
  }

  &:hover {
    background: linear-gradient(90.14deg, #b0d3ce -2.41%, #ffedce 99.79%);
    color: $color-bluestone;
    box-shadow: 4px 4px 20px #c2ccca, -8px -8px 20px #ffffff;

    &.btn__application-active {
      background: $color-gumbo;
      color: $color-default-white;
      box-shadow: none;
    }
  }

  &__application {
    margin: 0;
    margin-right: 14px;
    background-color: $color-default-white;
    color: $color-gumbo;

    &:last-child {
      margin-right: 0;
    }

    &-active {
      background-color: $color-gumbo;
      color: $color-default-white;
    }
  }

  &__form {
    position: relative;
    bottom: -115px;
    margin: 0 auto;
    padding: 27px 117px;
    font-family: $ff-RalewayBold;
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;
  }
}
