.btn {
  display: inline-flex;
  margin: 10px 0;
  padding: 16px 27px;
  font-family: $ff-CormorantInfantBold;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $color-default-white;
  background-color: $color-gumbo;
  border: none;
  cursor: pointer;
  border: 2px solid #70908b;
  border-radius: 61px;

  &__big {
    padding: 25px 115px;
    font-family: $ff-RalewayBold;
    font-weight: 700;
    line-height: 16px;
    box-shadow: 4px 4px 20px #c2ccca, -8px -8px 20px #ffffff;
    border-radius: 40px;
  }

  &__white {
    background: #ffffff;
    border: 2px solid #70908b;
  }

  &:hover {
    background: linear-gradient(90.14deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
    color: $color-bluestone;
    border: none;
  }
}
