.promo-picture {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__img {
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, #ABABAB 0%, rgba(237, 237, 237, 0) 100%);

    &-rotate {
      width: 686px;
      height: 565px;
      transform: rotate(-0.57deg);
      left: -240px;
      bottom: -79px;
    }

    &-hed {
      width: 511px;
      height: 331px;
      transform: rotate(0.55deg);
      right: -186px;
      bottom: -55px;
    }
  }
}
